<div class="bootstrap-wrapper animated fadeIn">
    <div class="row">
    <div class="col-md-8 offset-md-1">
<h1 style="color:#7E7467; font-weight: bold;" class="mt20 ml20">Welcome To Admin Panel</h1>

<mat-card class="mt10 mr20 ml20 animated fadeInUp">
    
    <ul class="feature-list">
        <li class="mb10">You can add the subject categories.</li>
        <li class="mb10">You can add quiz of particular subject category.</li>
        <li class="mb10">You can decide maximum marks in the quiz and the category it belongs to.</li>
        <li class="mb10">You can delete and update a specific quiz.</li>
        <li class="mb10">You can delete and update a specific question.</li>
        <li class="mb10">You can edit the publish status of the quiz.</li>
        <li class="mb10">You can also get the quiz wise result from whoever attempted the quiz.</li>
    </ul>
</mat-card>
    </div>
    </div>
</div>






