<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 style="color:#7E7467; font-weight: bold;" class="mt20">Add New Quiz</h1>

            <mat-card>
                <mat-card-content>
    
                <form (ngSubmit)="addSurvey()">
                    
                    <!-- Title Field -->
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Enter Title</mat-label>
                        <input 
                        [(ngModel)]="surveyData.title"
                        required
                        type="text" name="title" placeholder="Enter Here" matInput/>
                    </mat-form-field>

                    <!-- Description Field -->
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Enter Description</mat-label>
                        <textarea
                        [(ngModel)]="surveyData.description"
                        type="text" 
                        name="description"
                        placeholder="Enter Here"
                        matInput
                        rows="5"
                        ></textarea>
                    </mat-form-field>

                    <div class="row">
                        <div class="col-md-6">
                            <!-- max marks -->
                            <mat-form-field class="w100" appearance="fill">
                                <mat-label>Maximum Marks</mat-label>
                                <input 
                                [(ngModel)]="surveyData.maxMarks"
                                type="text" 
                                name="maxMarks" 
                                placeholder="Enter Here" 
                                matInput/>
                            </mat-form-field>
                        </div>
                        
                    </div>
                    <!-- Active Feild -->
                    <!-- <mat-slide-toggle>Slide me!</mat-slide-toggle> -->
                    <mat-slide-toggle
                    name="active"
                    [(ngModel)]="surveyData.active"
                    class="mt20"
                    color="#7E7467">
                    Publish Survey!
                    </mat-slide-toggle>

                    <br />
                    <!-- Category Select -->
                 
                    <mat-form-field appearance="fill" class="mt20 w100">
                    <mat-label>Categories</mat-label>
                    <mat-select name="category" required [(ngModel)]="surveyData.category.cid">
                    <mat-option *ngFor="let c of categories" [value]="c.cid">
                    {{c.title}}
                    </mat-option>
                    </mat-select>
                    </mat-form-field>

                    <div class="container text-center">
                        <button mat-raised-button class="custom-button" type="submit">Add </button>
                    </div>
                </form>
            </mat-card-content>
</mat-card>
</div>
</div>
</div>

<!-- {{surveyData|json}} -->