<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <div class="ml20 mb20 menu-item">
        <mat-icon  mat-list-icon>home</mat-icon>
        <button  routerLink="/admin">Home</button>
        </div>

        <div class="ml20 mb20 menu-item">
        <mat-icon mat-list-icon>list</mat-icon>
        <button routerLink="/admin/categories">Categories</button>
        </div>

        <div class="ml20 mb20 menu-item">
        <mat-icon mat-list-icon >add_circle_outline</mat-icon>
        <button routerLink="/admin/add-category">Add Categories</button>    
        </div>

        <div class="ml20 mb20 menu-item">
        <mat-icon mat-list-icon >quiz</mat-icon><button routerLink="/admin/surveys">Quizzes</button>
        </div>
        
        <div class="ml20 mb20 menu-item">
        <mat-icon mat-list-icon >add</mat-icon><button  routerLink="/admin/add-survey">Add Quizzes</button>
        </div>
            
    </mat-action-list>
</mat-card>
