.custom-button {
    background-color: #7E7467;
    color: white; /* Set text color to ensure readability */
}
.delete-button {
    background-color:#C41A23;
    color: white; /* Set text color to ensure readability */
}