.truncate{
    display:block;
    white-space: nowrap;
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
}

.example-header-image {
    background-image: url('/assets/ideas.png');
    background-size: cover;
  }

  .custom-button {
    background-color: #7E7467;
    color: white; 
  }

  .search-input {
    width: 385px;
    height: 30px;
}

  